ul.language-menu {
	list-style: none;
	padding-left: 0;
	margin-top: 5px;
	margin-bottom: 0;
	margin-left: 0;
	font-size: 12px;
	
	li {
		
		display: inline-block;
		
		&:after {
			content: " |";
		}

		&:last-child {
			&:after {
				content: none;
			}
		}
	}

	a {
		color: #888;
	}

}
